@import "vars";

.home {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
   height: 100%;
   z-index: 1;
   color: white;
   text-shadow: 1px 1px 15px black;
   text-align: center;
   width: 100%;
  }
}

.hero-img-frame {
  width: 90%;
  // max-height: 500px;
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img {
  width: 100%;
  margin-bottom: 50px;
  border: 5px solid $dark-yellow;
  border-radius: 15px;
}

.logo-btn.listings-link {
  padding: 20px 30px;
  border-radius: 20px;

  &:hover {
    background-color: $darker-purple;
  }
}