@import "vars";

.listings {
  display: flex;
  justify-content: center;
}

.listings-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  padding: 30px;

  .listing {
    border: 2px solid $yellow;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 10px;
    height: 300px;
    width: 400px;
    overflow-y: scroll;
    color: $dark-yellow;
    text-align: center;
  }
}

.carousel {
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.carousel-box {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
  min-width: 100%;

  .property-thumbnail {
    height: 200px;
    border: 2px solid $darker-yellow;
    margin: 0px 0px;
  }
}

.full-listing {
  width: 90%;
  border: 5px solid $darker-yellow;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .carousel, .carousel-box, .property-thumbnail {
    height: 400px;
  }
}