@import "vars";

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  height: 160px;
  align-items: center;
  position: relative;
}

.nav-link-image {
  height: $med-font;
}

.btn.logo-btn {
  // align-self: flex-end;
  display: flex;
  position: relative;

  .logo-couch {
    height: 130px;
    filter: $dark-yellow-filter;

    &:hover {
      filter: $yellow-filter;
      cursor: pointer;
    }
  }
  
  .logo-text {
    filter: $darker-purple-filter;
    height: $med-font;
    position: absolute;
    left: 34%;
    top: 63%;
  }
}

.logo-couch:hover .hero-img-frame {
  border-color: $yellow;
}

.notices, .errors {
  position: absolute;
  left: 50%;
}

.hamburger {
  height: min-content;
  width: 110px;
  display: flex;
  flex-direction: column;
  border: 1px solid $dark-yellow;  // * handled with styled component
  background-color: $darker-purple;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  right: 11%;
  z-index: 2;
  // transform: translateY(-50%);  // * this fails on dropdown, maybe do pixels?

  .hamburger-top {
    height: 100%;
    display: flex;
    justify-content: space-between;
    transition: width 1s;

    :first-child {
      margin-right: 10px;
    }

    .hamburger-face, .hamburger-dropdown {
      height: $large-font;
    }

    .hamburger-dropdown {
      filter: $dark-yellow-filter;
    }

    .hamburger-face {
      position: relative;
      right: -2px;
    }

    .hamburger-avatar {
      height: 46px;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sub-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 5px;

      &:first-child {
        border-bottom: 1px solid $darker-yellow;
      }
    }

    a.btn, button.btn {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 5px 25px;

      &:hover .nav-link-image {
        cursor: pointer;
        filter: $yellow-filter;
      }

      &:last-child {
        padding-bottom: 10px;
      }
    }

    .nav-link-image {
      height: $small-font;
      filter: $dark-yellow-filter;
    }
  }
}