$white: #FFFFFF;
$dark-white: #D5CDCA;

$lighter-blue: #92BCE3;
$light-blue: #3F9CD7;
$blue: #2B7FC6;
$dark-blue: #2675A8;
$darker-blue: #1F609B; 

$lighter-green: #E4EFD3;
$light-green: #C4DF9C;
$green: #94AD38;
$dark-green: #708240;
$darker-green: #0d261d;

$light-red: #F9B698;
$red: #D81D24;
$dark-red: #D23A2E;
$pale-red: #D06845;

$light-purple: #CFC6D9;
$med-light-purple: #b1a0c4;
$purple: #B283B7;
$dark-purple: #61478E;
$darker-purple: #3E2443;
$darkest-purple: #26112d;

$light-yellow: #FDEAAC;
$yellow: #FBD822;
$dark-yellow: #D9A72D;
$darker-yellow: #b18a27;

$black: #191227;

$light-gray: #A0B0BD;
$gray: #4C616B;
$dark-gray: #12181F;

$pink: #F781C1;
$brown: #9C5B01;

$small-font: 16px;
$med-font: 24px;
$large-font: 48px;

$dark-yellow-filter: invert(71%) sepia(58%) saturate(591%) hue-rotate(355deg) brightness(90%) contrast(87%);
$yellow-filter: invert(92%) sepia(19%) saturate(4270%) hue-rotate(340deg) brightness(111%) contrast(97%);
$bright-yellow-filter: invert(84%) sepia(99%) saturate(6954%) hue-rotate(352deg) brightness(95%) contrast(107%);
$darker-purple-filter: invert(13%) sepia(43%) saturate(813%) hue-rotate(244deg) brightness(94%) contrast(89%);