// @import "react-alice-carousel/lib/alice-carousel.css";
@import "reset";
@import "vars";
@import "home";
@import "nav_bar";
@import "forms";
@import "listings";
@import "profile";

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: $darkest-purple;
  color: $yellow;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.yellow-container {
  border: 5px solid $dark-yellow;
  border-radius: 10px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 500px;
  height: 60px;
  font-size: $med-font;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
  margin: 5px 0px;
  border-radius: 10px;

  background-color: $darker-purple;
  color: $dark-yellow;
  border: 2px solid $dark-yellow;
  padding: 0px 0px;

  &:hover {
    color: $yellow;
    border-color: $yellow;
    background-color: $dark-purple;
    cursor: pointer;
  }
}

a {
  color: $yellow;
}

a:visited {
  color: $blue;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.alice-carousel {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: center;
}

.alice-carousel__prev-button, .alice-carousel__next-button {
  // width: 20%
}