html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #26112d; }

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 150px;
  height: 130px;
  align-items: center;
  position: relative; }

.nav-link-image {
  height: 24px; }

.nav-bar-logo {
  display: flex; }
  .nav-bar-logo .nav-link-image.logo {
    height: 130px; }
  .nav-bar-logo .nav-link-image.logo-text {
    filter: invert(13%) sepia(43%) saturate(813%) hue-rotate(244deg) brightness(94%) contrast(89%);
    height: 24px;
    position: absolute;
    left: 34%;
    top: 63%; }
  .nav-bar-logo .btn:hover .nav-link-image.logo {
    filter: invert(84%) sepia(99%) saturate(6954%) hue-rotate(352deg) brightness(95%) contrast(107%); }
  .nav-bar-logo .btn.logo-btn {
    position: relative; }
  .nav-bar-logo .nav-link-image:not(.logo-text) {
    filter: invert(92%) sepia(19%) saturate(4270%) hue-rotate(340deg) brightness(111%) contrast(97%); }

.hamburger {
  height: min-content;
  width: 110px;
  display: flex;
  flex-direction: column;
  background-color: #3E2443;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  right: 11%; }
  .hamburger .hamburger-top {
    height: 100%;
    display: flex;
    justify-content: space-between;
    transition: width 1s; }
    .hamburger .hamburger-top :first-child {
      margin-right: 10px; }
    .hamburger .hamburger-top .hamburger-face, .hamburger .hamburger-top .hamburger-dropdown {
      height: 48px;
      filter: invert(71%) sepia(58%) saturate(591%) hue-rotate(355deg) brightness(90%) contrast(87%); }
    .hamburger .hamburger-top:hover {
      cursor: pointer; }
      .hamburger .hamburger-top:hover .hamburger-face, .hamburger .hamburger-top:hover .hamburger-dropdown {
        filter: invert(92%) sepia(19%) saturate(4270%) hue-rotate(340deg) brightness(111%) contrast(97%); }
  .hamburger .menu {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .hamburger .menu .sub-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 5px; }
      .hamburger .menu .sub-menu:first-child {
        border-bottom: 1px solid #b18a27; }
    .hamburger .menu a.btn {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 5px 25px; }
      .hamburger .menu a.btn:hover .nav-link-image {
        filter: invert(92%) sepia(19%) saturate(4270%) hue-rotate(340deg) brightness(111%) contrast(97%); }
      .hamburger .menu a.btn:last-child {
        padding-bottom: 10px; }
    .hamburger .menu .nav-link-image {
      height: 16px;
      filter: invert(71%) sepia(58%) saturate(591%) hue-rotate(355deg) brightness(90%) contrast(87%); }

.home {
  display: flex;
  justify-content: center;
  align-items: center; }
  .home h1 {
    height: 100%;
    z-index: 1;
    color: white;
    text-shadow: 1px 1px 15px black;
    text-align: center;
    width: 100%; }

.hero-img-frame {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.hero-img {
  width: 100%;
  margin-bottom: 50px;
  border: 5px solid #D9A72D;
  border-radius: 15px; }

.session-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  justify-content: center;
  align-items: center; }
  .session-form form {
    height: 300px;
    width: 300px;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .session-form label {
    padding: 10px;
    display: block; }
  .session-form button {
    display: block;
    padding: 10px;
    margin: 20px; }

/*# sourceMappingURL=App.css.map */
